<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="p-3 m-0 border-0 bd-example bd-example-row">
    <nav class="navbar bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <span class="navbar-brand"><%= title %></span>
            <a class="navbar-brand" href="#">
                <img src="/image/icon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                UserName
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-custom">Create</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-custom">By Distance</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-custom">By Date</button>
            </div>
        </div>
    </div>
    <section class="my-4">
        <div class="container">
            <div class="row my-4">
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3 style">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="/image/bird.jpeg" class="w-100" id="card-image">
                            </div>
                            <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                    <h2 class="card-title pt-4 style">Bird Name</h2>
                                    <p class="card-text pt-3">Date and Time</p>
                                    <p class="card-text pt-3">UserName</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="pull-right">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">«</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">»</span>
            </a>
          </li>
        </ul>
      </nav>
      </footer>
</body>
</html>
