<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Loading</title>
    <script src="/javascripts/indexedDB.js"></script>
    <script src="/javascripts/view/loading.js"></script>
    <style>
        body {
            background: linear-gradient(to bottom right, #4b6cb7, #182848);
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lds-facebook {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

        .lds-facebook div {
            display: inline-block;
            position: absolute;
            left: 8px;
            width: 16px;
            background: #fff;
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
        }

        .lds-facebook div:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3) {
            left: 56px;
            animation-delay: 0s;
        }

        @keyframes lds-facebook {
            0% {
                top: 8px;
                height: 64px;
            }
            50%,
            100% {
                top: 24px;
                height: 32px;
            }
        }

        .loading-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .loading {
            font-size: 24px;
            color: #fff;
            text-align: center;
        }
    </style>
</head>
<body onload="initPage()">

<div class="loading-container">
    <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loading">
        Loading...
    </div>
</div>
</body>
</html>
