<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Loading</title>
    <script src="/javascripts/indexedDB.js"></script>
</head>
<body>

    <div class="loading">
        Loading...
    </div>
<script>
    openDB(index_name,index_version)
</script>
</body>
</html>
