/* * {
    box-sizing: border-box;
    color: gray;
  } */
.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    overflow: hidden;
}

div.card {
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card-body {
    background-color: #c7e6c8;
    color: gray;
    padding: 10px;
    font-size: 15px;
    height: 100%;
}
.card-col1{
    grid-column: 1;
}
.card-col2 {
    grid-column: 2; /* 在第二列显示 */
    grid-row: 1 / span 4; /* 跨越四行 */
    width: 200px;
    height: 200px;
    border: 0;
}

#card-image {
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

p.card-style {
    color: gray;
    font-size: 25px;
}

.pull-right {
    float: right;
    margin-right: 30px;
}

h2.style {
    color: #36454F;
}

.pagination {
    --bs-pagination-font-size: 20px;
    --bs-pagination-color: #712cf9;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: #712cf9;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: #712cf9;
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #712cf9;
    --bs-pagination-active-border-color: #712cf9;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

th.title-style {
    font-size: 40px;
    font-weight: bold;
    color: #36454F;
    padding-right: 20px;
}

td.detail-style {
    vertical-align: middle;
    font-size: 30px;
    color: gray;
}

#detail {
    background-color: #36454F;
    height: 100px;
    padding-left: 50px;
    padding-top: 25px;
}

#create-btn {
    color: #fff;
    font-size: 25px;
}

div.odd, div.even {
    color: #36454F;
    height: 200px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dee2e6;
}

div.even {
    background-color: #fff;
}

h2.username-style {
    color: #36454F;
    padding-left: 50px;
    padding-top: 25px;
}

span.date-style, p.description-style {
    color: #36454F;
    padding-left: 50px;
    font-size: 25px;
}

div.img-style {
    position: relative;
    left: 900px;
    bottom: 40px;
}

.scrollable-div {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.iframe-column {
    display: flex;
    justify-content: flex-end;
}