body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


* {
  box-sizing: border-box;
  color: gray;
}
.btn-outline-custom {
--bs-btn-color: #712cf9;
  --bs-btn-border-color: #712cf9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #712cf9;
  --bs-btn-hover-border-color: #712cf9;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #712cf9;
  --bs-btn-active-border-color: #712cf9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #712cf9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #712cf9;
  --bs-gradient: none;
}
.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  overflow: hidden;
}
.container {
  padding-top:10px;
}
div.card {
  width: 450px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
}
div.card-body{
  background-color: #c7e6c8;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
color: gray;
padding: 10px; 
font-size: 40px;
}
#card-image{
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.pull-right{
  float: right;
  margin-right: 30px;
}
.pagination {
  --bs-pagination-font-size: 20px;
  --bs-pagination-color: #712cf9;
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #712cf9;
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: #712cf9;
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #712cf9;
  --bs-pagination-active-border-color: #712cf9;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
}
h2.style{
  color:#36454F;
}
.table{
  font-size: 22px;
}